<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--允许全屏-->
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta content="yes" name="apple-touch-fullscreen"/>
  <meta name="data-spm" content="a215s"/>
  <meta content="telephone=no,email=no" name="format-detection"/>
  <meta content="fullscreen=yes,preventMove=no" name="ML-Config"/>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0yyjrzLiFgfrKUmT0YoS31S6Xf5H5KpE"></script>
  <title>定位当前位置</title>
</head>

<body>
  <index></index>
</body>
</html>
