ul, li {
  list-style: none;
}
button {
  outline: 0 none;
}
span {
  display: inline-block;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1475224977_4233625.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1475224977_4233625.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1475224977_4233625.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1475224977_4233625.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1475224977_4233625.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-up {
  &:before {
    content: '\e60c'
  }
}
.icon-down {
  &:before {
    content: '\e60d'
  }
}
.icon-close {
  &:before {
    content: '\e60f';
  }
}
.icon-locate {
  &:before {
    content: '\e610';
  }
}
.icon-avatar {
  &:before {
    content: '\e613';
  }
}
.icon-tel {
  &:before {
    content: '\e612';
  }
}
.icon-addr {
  &:before {
    content: '\e611';
  }
}
.icon-tread {
  &:before {
    content: '\e614';
  }
}
.icon-praise {
  &:before {
    content: '\e615';
  }
}
.clearfix {
  zoom: 1;
  &:after {
    height: 0;
    clear: both;
    display: block;
    overflow: hidden;
    content: '';
  }
}
.fl{
  float: left;
}
.btn {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transtion: all .2s;
  &:hover {
    background-color: #0bb20c;
    color: #fff;
    transform: scale(1.1);
  }
}